/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datepicker
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 60px;
}

table td {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  width: 700px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

#main {
  min-height: 400px;
}

footer {
  border-top: solid #f0f0f0 1px;
  height: 100px;
  padding-top: 5px;
}

#calling-card {
  float: right;
  font-size: 14px;
  line-height: 24px;

  .jackpine-logo {
    float: right;
    margin-right: 17px;
    width: 44px;
    height: 34px;
  }

  .brand {
    margin-top: 7px;
  }

  .contact {
    clear: right;
  }
}

