<table class='sensors'>
  <tr>
    <th>Type</th>
    <th>Site</th>
    <th>Format</th>
  </tr>
  <% @sites.each do |site| %>
    <tr>
      <td>
        <%= site.measurement_type %>
      </td>
      <td>
        <%= site.site_name %> 
      </td>
      <td>
        [ <%= link_to 'plot', site %>, <%= link_to 'json', site_path(site, :format => :json) %> ]
      </td>
    </tr>
  <% end %>
</table>
