<script type="text/javascript">
  var sensor_plot = new SensorPlot(<%= @site.id %>);
</script>
<style type="text/css">
  svg {
    padding-bottom: 50px;
  }
  .axis path, .tick {
    fill: none;
    stroke: black;
  }
  .axis {
    font-size: 8pt;
    font-family: sans-serif;
  }
  circle {
    stroke: black;
    stroke-width: 0.5px;
    fill: RoyalBlue;
    opacity: 0.6;
  }
  circle.zero {
    fill: Red;
  }
</style>
<h2><%= @site.site_name %> : <%= @site.measurement_type %></h2>
<label for="date-range">Date range</label>
<fieldset name="date-range" id="date-range">
  <label for="sampled-after">From</label>
  <input type="date" name="sampled-after" id="sampled-after">
  <label for="sampled-before">To</label>
  <input type="date" name="sampled-before" id="sampled-before">
</fieldset>
<div class='plot'>
</div>
