<script type="text/javascript">
$(function() {
  var sensor_site = new SensorSite({id: <%= @site.id %>});
  var sensor_plot = new SensorPlot({model: sensor_site, el:$('.plot')});

  $.when(sensor_site.sensor_samples.fetch()).done(function(){
    sensor_plot.render();
  });
});
</script>

<style type="text/css">
  svg {
    padding-bottom: 50px;
  }
  .axis path, .tick {
    fill: none;
    stroke: black;
  }
  .axis {
    font-size: 8pt;
    font-family: sans-serif;
  }
  circle {
    stroke: black;
    stroke-width: 0.5px;
    fill: RoyalBlue;
    opacity: 0.6;
  }
  circle.zero {
    fill: Red;
  }
</style>
<h2><%= @site.site_name %> : <%= @site.measurement_type %></h2>
<div class='plot'>
</div>
