<!DOCTYPE html>
<html>
<head>
  <title>Los Angeles Aquaduct API</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Thirsty</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/sites">Sites</a></li>
          <li><a href="/sites/332625">Examples</a></li>
          <li><a href="mailto:michael@jackpine.me">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
  <footer>
    <span id="calling-card">
      <a href="http://jackpine.me">
        <img class='jackpine-logo' src="/assets/pine_cone.png">
      </a>
      <div class="brand">
        a <a href="http://jackpine.me">jackpine</a> product
      </div>
      <div class="contact">
        <a href="mailto:info@jackpine.me">contact us</a> |
        <a href="//twitter.com/jackpinescience">@jackpinescience</a>
      </span>
    </span>
  </footer>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32997565-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
